<%- include ('../include/header.ejs')%>

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div id="page-contents" class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <div id="add-post-box"></div>
                            <div id="newsfeed" class="loadMore">

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var isHomePage = true;

    </script>
    <%- include ('../include/footer.ejs')%>