<%- include ('../include/header')%>
    <section>
        <div class="feature-photo">
            <figure>
                <img src="" class="cover-photo" style="width: 100%; height: 700px; object-fit: cover;" alt="">
            </figure>
            <form class="eidt-photo" id="form-cover-photo" onsubmit="return false">
                <i class="fa fa-camera-retro"></i>
                <label for="" class="fileContainer">
                    Edit Cover Photo
                    <input type="file" accept="image/*" name="coverPhoto" onchange="uploadCoverPhotos()">
                </label>
            </form>

            <div class="container-fluid">
                <div class="row mergrd">
                    <div class="col-md-2">
                        <div class="user-avatar">
                            <figure>
                                <img class="profile-image" id="profile-image"
                                    style="width: 100%; object-fit: cover; height: 150px;">
                                <form class="edit-phto" id="form-upload-image" onsubmit="return false">
                                    <i class="fa fa-camera-retro"></i>
                                    <label class="fileContainer">
                                        Edit Display Photo

                                        <input type="file" accept="image/*" name="profileImage"
                                            onchange="profileImages()">

                                    </label>
                                </form>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="timeline-info">
                            <ul>
                                <li class="admin-name">
                                    <h5 class="user-name" style="padding-top: 20px; padding-bottom: 20px;"></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var isUpdateProfile = true
        function showProfiledata() {
            document.querySelector('.cover-photo').setAttribute('src', mainUrl + "/" + window.user.coverPhoto)
            document.querySelector('.profile-image').setAttribute('src', mainUrl + "/" + window.user.profileImage)

        }

        function uploadCoverPhotos(form) {
            var ajax = new XMLHttpRequest()
            ajax.open('POST', '/uploadcoverImage', true)
            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 201) {
                    var response = JSON.parse(this.responseText)

                    document.getElementById("cover-photo").setAttribute('src', response.data)


                }
            }

            var formData = new FormData()
            formData.append("accessToken", localStorage.getItem('accessToken'))
            ajax.send(formData)
            return false
        }
    </script>
    <%- include ('../include/footer')%>